{% extends 'users_base.html' %}
{% load staticfiles %}

{% block content %}
    <section>
        <div class="wp butler_list_box list">
{#            <div class='left'>#}
                <div class="listoptions">
                    <ul>
                        <li>
                            <h2>用户类型</h2>
                            <div class="cont">
                                <a href="?super={{ user_super }}"><span class="{% ifequal user_role '' %}
                                    active2
                                {% endifequal %}
                                ">全部</span></a>

                                <a href="?role=yunwei&super={{ user_super }}"><span
                                        class="{% ifequal user_role 'yunwei' %}
                                      active2
                                {% endifequal %}
                                ">运维</span></a>

                                <a href="?role=yanfa&super={{ user_super }}"><span
                                        class="{% ifequal user_role 'yanfa' %}
                                      active2
                                {% endifequal %}
                                ">研发</span></a>

                                <a href="?role=yunying&super={{ user_super }}"><span
                                        class="{% ifequal user_role 'yunying' %}
                                     active2
                                {% endifequal %}
                                ">运营</span></a>

                            </div>
                        </li>
                        <li>
                            <h2>用户权限</h2>
                            <div class="cont">
                                <a href="?role={{ user_role }}"><span class="{% ifequal user_super '' %}
                                     active2
                                {% endifequal %}
                                ">全部</span></a>
                                <a href="?super=1&role={{ user_role }}"><span class="{% ifequal user_super '1' %}
                                     active2
                                {% endifequal %}
                                ">超级用户</span></a>
                                <a href="?super=0&role={{ user_role }}"><span class="{% ifequal user_super '0' %}
                                     active2
                                {% endifequal %}
                                ">普通用户</span></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="all">
                    共{{ users_num }}<span class="key"></span>人&nbsp;&nbsp;
                    <a class="key" href="{% url '[users]:user_detail' %}">添加用户</a>
                </div>
                <div class="butler_list company list">
                    <div class="layout">
                        {% for user in users.object_list %}
                            <dl class="des difdes">
                                <dt>
                                    <a href="{% url '[users]:user_detail' %}?user={{ user.username }}&email={{ user.email }}&mobile={{ user.mobile }}&role={{ user.role }}">
                                        <img width="120" height="120" class="scrollLoading"
                                             data-url="{{ MEDIA_URL }}{{ user.avatar }}" style="width: 120px"/>
                                    </a>
                                </dt>
                                <dd>
                                    <div class="clearfix">
                                        <a href="{% url '[users]:user_detail' %}?user={{ user.username }}&email={{ user.email }}&mobile={{ user.mobile }}&role={{ user.role }}">
                                            <h1 class="key">用户名：{{ user.username }}</h1>
                                        </a>
                                    </div>
                                    <ul class="cont">
{#                                        <li class="first"><p class="pic9">姓名：<span>{{ user.first_name }}</span></p>#}
                                            <p class="c7">上次登录时间：<span>{{ user.last_login }}</span></p></li>
                                        <li class="c8" style="padding-left:18px;">用户类型：<span>
                                            {% if user.role == 'yunwei' %}运维{% endif %}
                                            {% if user.role == 'yanfa' %}研发{% endif %}
                                            {% if user.role == 'yunying' %}运营{% endif %}
                                        </span></li>
                                        <li class="pic10" style="padding-left:18px;">手机号码：<span>{{ user.mobile }}</span>
                                        <li class="pic10" style="padding-left:18px;">邮箱地址：<span>{{ user.email }}</span>
                                        </li>
                                    </ul>
                                </dd>
                                {#                                <div class="buy start_groupbuy jsShowPerfect2" data-id="22">#}
                                <div class="right">
                                    {% if not user.is_superuser %}
                                        <form action="{% url '[users]:user_delete' %}" method="post" autocomplete="off" onclick="return confirm('你确认要删除吗?')">
                                            {% csrf_token %}
                                            <input type="hidden" name="username" value="{{ user.username }}">
                                            <input class="btn btn-green" id="xiugaimima" type="submit" value="删除用户"
                                                   style="width: 100px; height: 40px">
                                        </form>
                                    {% endif %}
                                </div>
                            </dl>
                        {% endfor %}
                    </div>
                    <div class="pageturn">
                        <ul class="pagelist">
                            {#                            {{ users.render }}#}
                            {% if users.has_previous %}
                                <li class="long">
                                    <a href="?{{ users.previous_page_number.querystring }}">上一页</a>
                                </li>
                            {% endif %}

                            {% for page in users.pages %}
                                {% if page %}
                                    {% ifequal page users.number %}
                                        <li class="active"><a
                                                href="?{{ page.querystring }}">{{ page }}</a></li>
                                    {% else %}
                                        <li><a href="?{{ page.querystring }}"
                                               class="page">{{ page }}</a></li>
                                    {% endifequal %}
                                {% else %}
                                    <li class="none"><a href="">...</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if users.has_next %}
                                <li class="long"><a href="?{{ users.next_page_number.querystring }}">下一页</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
{#            </div>#}
        </div>
    </section>
{% endblock %}